<nav class="navbar navbar-expand-md navbar-light bg-light rounded-bottom">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/banner-ico.png" width="auto" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">ServiPago</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="inicio">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="RealizarPago">Realizar pago</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="HistorialPago">Historial de pagos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="tarjeta">Añadir tarjeta</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="Subscripciones">Subscripciones</a>
            </li>
        </ul>
    </div>
</nav>