<div class="w-100">
    <div class="w-50">
        <div class="justify-content-center" style="position :relative !important;left: 40% !important;">
            <h1 class="text-center">Iniciar sesión</h1>
            <div class="form-group">
                <label for="exampleInputEmail1">Ingresa tu DNI</label>
                <input type="email" class="form-control" id="dni|" aria-describedby="emailHelp" placeholder="DNI">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Ingresa tu contraseña</label>
                <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesion</button>
        </div>
    </div>
</div>