<div class="card-columns m-5 animated fadeIn">
    <div (click)="verArtista(cancion)" *ngFor="let cancion of items" class="card puntero">
        <img class="card-img-top" [src]="cancion.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">{{cancion.name}}</h5>
            <p class="card-text text-center">
                <span *ngFor="let artista of cancion.artists" class="badge badge-primary">{{artista.name}}</span>
            </p>
        </div>
    </div>
</div>